$enable-gradients: true;

$primary: rgb(151, 211, 73);
$secondary: rgb(73 63 63);

$spacer: 1.5rem;

$btn-border-radius: 40px;
$btn-font-size: 1.35rem;
$btn-padding-x: 1.25rem;
$btn-line-height: 1.8;

$navbar-dark-color: white;
$navbar-dark-hover-color: rgba(white, .55);
$navbar-dark-active-color: $primary;

